Дополнительные требования к данным АО:

1. В состав абрисов включаются объекты, габариты которых превышают 5 м по одному из измерений в лане и 3-5 м в вертикальной плоскости. Также, значительные по размерам объекты с однородным видом поверхности с нулевой относительной высотой (< 3-5м) (ВПП, бетонные или асфальтовые площадки, дороги, в том числе ЖД пути), объекты гидрографии.
2. Включать в абрис только стационарные объекты. Примеры нестационарных объектов: портовые краны, грузы на открытых складах, складских площадках, автомобили на автостоянках.
3. В состав абрисов не включать объекты, указывающие на функциональное назначение группы ЭОН ("Кварталы", "Территория промышленных объектов", "Базы ...") и не характеризующиеся каким-либо однородным видом поверхности.
