@import "for_all.qss";
@import "button_danger.qss";
@import "button_primary.qss";
@import "button_default.qss";
@import "button_images.qss";
@import "progressbar.qss";

@import "gbox_widget.qss";
@import "gbox_control.qss";
@import "label_aerial.qss";
@import "label_solo.qss";
@import "tab.qss";
@import "scroll.qss";

@import "lineedit.qss";