@import "for_all.qss";
@import "button_danger.qss";
@import "button_primary.qss";
@import "button_default.qss";
@import "progressbar.qss";
@import "gbox_control.qss";
@import "label_aerial.qss";
@import "lineedit.qss";